exportPattern("^[[:alpha:]]+")

importFrom(ggplot2, ggplot, aes, geom_point, geom_line, scale_fill_manual)
importFrom(sf, st_read, st_transform, st_union, st_as_sf)
importFrom(dplyr, filter, mutate, select, group_by, summarise)
importFrom(ggrepel, geom_text_repel)
importFrom(googledrive, drive_download, drive_find)
importFrom(raster, raster, extract, stack)
importFrom(knitr, kable)
importFrom(exactextractr, exact_extract)
importFrom(readxl, read_excel)
importFrom(stringr, str_detect, str_replace, str_to_title)
